<div class="row" style="margin: 50px 0px 0px 100px;">
    <div class="col">
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                            <h5 class="card-title">Compacte & familiale</h5>
                            <a href="#" class="btn btn-primary">Go</a>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                            <h5 class="card-title">Routières</h5>
                            <a href="#" class="btn btn-primary">Go</a>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                            <h5 class="card-title">Crossover, SUV, 4*4</h5>
                            <a href="#" class="btn btn-primary">Go</a>
                </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 50px 0px 0px 100px;">
    <div class="col">
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                            <h5 class="card-title">Sportive</h5>
                            <a href="#" class="btn btn-primary">Go</a>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                            <h5 class="card-title">Hybride</h5>
                            <a href="#" class="btn btn-primary">Go</a>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                            <h5 class="card-title">Electrique</h5>
                            <a href="#" class="btn btn-primary">Go</a>
                </div>
        </div>
    </div>
</div>