<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="/app/assets/stylesheets/application.css">
</head>
<body>
<div class="container-fluid">
    <div class="banner" style="width: 100%;max-width: 100%; position: relative;">
                <h1 style="position: absolute; top: 25%;left: 0;width: 100%;text-align: center;text-shadow: 2px 3px 5px #000000;">Bienvenue sur le site occaz car</h1>
        <%= image_tag("car.png", :alt => "banner") %>
    </div>
</div>

</style>
</body>
</html>
